@font-face {
  font-family: "Lato";
  src: local(Lato Light), url(./myfonts/Lato/Lato-Light.ttf) format("ttf");
  font-weight: 200;
}

@font-face {
  font-family: "Lato";
  src: local(Lato Thin), url("./myfonts/Lato/Lato-Thin.ttf") format("ttf");
  font-weight: 100;
}
