.notification-bar {
  background-color: black;
  color: #979797;
  // padding: 4px 0px;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  height: 21px;
  line-height: 21px;
  @media only screen and (min-width: 601px) {
    font-size: 26px;
    height: 59px;
    line-height: 59px;
  }
}
