.section5 {
  .title {
    font-family: "Pacifico", cursive;
    font-size: 35px;
  }
  .card {
    box-shadow: none;
    margin: 0.7rem;
    .card-image {
    } //  .card-image
  } //.card
} //.section3
